<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Home Screen"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessApp"
        tools:targetApi="31">


        <activity
            android:name=".PrivateWorkout.WholeWorkout"
            android:exported="false" />
        <activity
            android:name=".PrivateWorkout.WorkoutsScreen"
            android:exported="false" />
        <activity
            android:name=".PrivateWorkout.CreateWorkout"
            android:exported="false" />

        <activity
            android:name=".EditProfile.UploadProfileActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragment"
            android:exported="false" />
        <activity
            android:name=".popularWorkout.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".popularWorkout.PopularWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".HallOfFame.UploadActivity"
            android:exported="false"
            android:theme="@style/Theme.UploadActivity" />
        <activity
            android:name=".HallOfFame.HallOfFameActivity"
            android:exported="false" />
        <activity
            android:name=".Articles.NewsFullActivity"
            android:exported="false" />
        <activity
            android:name=".Users.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Users.AllUserActivity"
            android:exported="false" />
        <activity
            android:name=".FoodCalories.DetailedActivity"
            android:exported="false" />
        <activity
            android:name=".Articles.ArticlesActivity"
            android:exported="false" />
        <activity
            android:name=".PrivateWorkout.WorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".FoodCalories.CalorieActivity"
            android:exported="false" />
        <activity
            android:name=".Users.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Users.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>